body{
    display: contents;
}

.navbar{
    float:right;
    margin: 20px;
}

.nav-item{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.nav-item:hover{
    text-decoration: underline;
}

.login-button{
    color: #dfe1e5;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: #1a73e8;
    margin-left: 15px;
    margin-right: 8px;
    padding: 9px 23px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
}

.login-button:hover{
    background: #1b66c9;
}

.main{
    margin-top: 300px;
    text-align: center;
}

.input-area{
    margin-top: 20px;
}

.input-box{
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    padding-right: 40px;
}

.search-icon{
    color: #9aa0a6;
    position: relative;
    left: 40px;
}

.mic-icon{
    color: #9aa0a6;
    position: relative;
    right: 40px;
}

.button-area{
    padding-top: 18px;
}

.button-style{
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
}

.button-style:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-area{
    margin-top: 18px;
}

.language{
    text-decoration: none;
    color: #1a0dab;
    padding: 0 3px;
}

.language:hover{
    text-decoration: underline;
}

.writing{
    padding-top: 18px;
    font-size: small;
    font-family: arial, sans-serif;
}

.first-writing{
    color: red;
    margin-left: 8px;
}

.second-writing{
    text-decoration: none;
    color: #1a0dab;
}

.second-writing:hover{
    text-decoration: underline;
}

.footer{
    position:absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%; /* 자신의 부모에 대한 100% , 즉 body 가로만큼 채워짐 */
}

.first-line{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.second-line{
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.second-line-second{
    float:right;
}

.service-group{
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    padding-right: 15px;
}

.service-group:hover{
    text-decoration: underline;
}